[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
redis = "*"
deta = "*"
python-dotenv = "*"
semver = "*"
steam = {extras = ["client"], version = "*"}
gevent = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
