---
name: Test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test-image:
    name: Test Image
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Build Image
        run: docker build -t steamcmd/api:latest .

  python-lint:
    name: Python Lint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: jpetrucciani/ruff-check@main
        with:
          path: 'src/'